<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app.html}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Detalles de Empresa</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container mt-4">
        <div class="card-custom mx-auto" style="max-width: 700px">
          <div class="card-header-custom">Detalles de la Empresa</div>

          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">NIT:</label>
                <p class="form-control-plaintext" th:text="${empresa.nit}"></p>
              </div>
              <div class="col-md-6">
                <label class="form-label">Nombre:</label>
                <p
                  class="form-control-plaintext"
                  th:text="${empresa.nombre}"
                ></p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Área:</label>
                <p class="form-control-plaintext" th:text="${empresa.area}"></p>
              </div>
              <div class="col-md-6">
                <label class="form-label">Contacto:</label>
                <p
                  class="form-control-plaintext"
                  th:text="${empresa.contacto}"
                ></p>
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label">Ubicación:</label>
              <p
                class="form-control-plaintext"
                th:text="${empresa.ubicacion}"
              ></p>
            </div>

            <!-- Botón volver -->
            <div class="d-flex justify-content-end gap-2">
              <a th:href="@{/empresas}" class="btn-secondary-custom">
                <i class="bi bi-box-arrow-left"></i> Volver
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
