<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app.html}"
>
  <head>
    <title>Redactar Correo</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container mt-5" style="max-width: 700px">
        <h2 class="mb-4 text-center">Redactar Correo</h2>
        <div
          th:if="${success}"
          class="alert alert-info text-center mt-3"
          th:text="${success}"
        ></div>
        <div
          th:if="${mensaje}"
          class="alert alert-info text-center mt-3"
          th:text="${mensaje}"
        ></div>
        <form
          th:action="@{/correo/enviar}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="destinatario" class="form-label">Destinatarios</label>
            <input
              type="text"
              id="destinatario"
              name="destinatario"
              class="form-control"
              placeholder="ejemplo1@gmail.com, ejemplo2@gmail.com"
            />
            <small class="text-muted"
              >Puedes separar múltiples correos con comas.</small
            >
          </div>

          <div class="mb-3">
            <label for="asunto" class="form-label">Asunto</label>
            <input
              type="text"
              id="asunto"
              name="asunto"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea
              id="mensaje"
              name="mensaje"
              rows="5"
              class="form-control"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="adjunto" class="form-label">Adjuntar Archivo</label>
            <input
              type="file"
              id="adjunto"
              name="adjunto"
              class="form-control"
            />
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success px-4">Enviar</button>
            <a th:href="@{/reportes}" class="btn btn-secondary px-4 ms-2"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
