<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  lang="es"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <!-- etiqueta vacía cerrada con /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Reportes de ingresos</title>

    <style type="text/css">
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #333;
        padding: 5px;
        text-align: left;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>Reportes de ingresos</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de ingreso</th>
          <th>Empresa</th>
        </tr>
      </thead>

      <tbody>
        <!-- Iteramos la lista `accesos` que envía el controlador -->
        <tr th:each="acceso : ${accesos}">
          <td
            th:text="${acceso.persona.nombreUno + ' ' + (acceso.persona.nombreDos ?: '')}"
          ></td>
          <td
            th:text="${acceso.persona.apellidoUno + ' ' + (acceso.persona.apellidoDos ?: '')}"
          ></td>
          <td
            th:text="${#temporals.format(acceso.fecha_ingreso,'dd/MM/yyyy')}"
          ></td>
          <td th:text="${acceso.empresa.nombre}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
